@font-face {
    font-family: Pecita;
    src: url(fonts/Pecita.otf);
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.ttf);
}
body {
    --gold: #E9B136;
    --orange: #CE891E;
    --brown: #6D4F38;
    --dark-brown: #422716;
    --green: #807F40;
    --dark-green: #716d3c;
    --white: #ffffff;
    --black: #000000;
}

p {
    font-family: 'Montserrat';
    color: var(--black);
    font-size: 1.2rem;
    line-height: 1.7rem;
}
strong{
    color: var(--dark-brown);
}

body{
    margin: 0;
}

/* nav bar styling */
nav {
    width: 100%;
    background: linear-gradient(180deg, var(--orange) 0%, var(--gold) 100%);
    margin: 0 !important;
    box-shadow: 0px 3px 7px 3px rgba(66, 39, 22, 0.63);
    z-index: 1;
    position: relative;
}
ul {
    list-style: none;
    display: inline;
    margin-bottom: 0 !important;
    padding: 1rem;
}
nav li{
    display: inline;
    padding: 0 0.5rem;
}
nav li a {
    color: var(--white) !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.center-nav {
    text-align: center;
}
.center-nav li{
    font-family: 'Pecita';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;    
    color: var(--dark-brown);
}
.right-nav {
    text-align: right;
    margin-top: 0.3rem;
}

/* Hero,video,image styling */
.overlay .title h1 {
    color: var(--white);
    font-family: 'Montserrat';
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
}
.overlay .title hr {
    width: 11rem;
    border-top: 1px solid var(--white);
}
.overlay .title {
    margin-top: 10rem;
}
video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: 50% 29%;
}
.hero-container {
    position: relative;
    height: 30rem;
    width: 100%;
}

.webdev-parallax {
    background: linear-gradient( rgba(66, 39, 22, 0.55) 100%, rgba(66, 39, 22, 0.55) 100%), url(media/sunflowers2.jpg) no-repeat fixed 50% -10rem/cover;
}
.ux-parallax {
    background: linear-gradient( rgba(66, 39, 22, 0.55) 100%, rgba(66, 39, 22, 0.55) 100%), url(media/sunflowers1.jpg) no-repeat fixed left 0rem/cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 39, 22, 0.55);
}

/* Content section */
.content {
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    z-index: 1;
}
.wrapper {
    overflow: hidden;
    position: relative;
}
.first, .second, .third {
    margin-bottom: 3rem;
}
h2 {
    color: var(--dark-green) !important;
    font-family: 'Pecita';
    font-style: normal;
    font-weight: normal;
} 
.link a{
    color: var(--orange) !important;
}
.link a:hover {
    color: var(--gold) !important;
}

/* geometric graphics in content section*/
.right-triangle, .left-triangle {
    width: 0;
    height: 0;
    border-left: 22rem solid transparent;
    border-right: 22rem solid transparent;
    position: absolute;
    bottom: 0px;
    z-index: -1;
}
.right-triangle {
    border-bottom: 37.7rem solid var(--green);
    left: 75%;
}
.left-triangle {
    border-top: 37.7rem solid var(--dark-green);
    right: 77%;
}
.right-line {
    position: absolute;
    border-top: 2px solid var(--dark-brown);
    bottom: 30%;
    width: 35%;
    right: -8%;
    transform: rotate(53deg);
}
.left-line {
    position: absolute;
    border-top: 2px solid var(--dark-brown);
    bottom: 69%;
    width: 20%;
    left: 2%;
    transform: rotate(51deg);
}

/* projects section */
section.project-section{
    margin: 1rem;
    margin-bottom: 7rem;
}
.scroll-container {
    overflow-x: auto;
    width: 96vw;
}
.blurb {
    max-width: 27rem;
    text-align: center;
    margin: 3rem auto;
}
.project-scroller {
    margin: 2rem 0rem;
    width: max-content;
}
.project-scroller .project + .project {
    border-left: 1px solid var(--green);
}
.project {
    width: 28rem;
    display: inline-table;
    padding: 0 2rem;
    height: 22rem;
    position: relative;
}
.project .link {
    position: absolute;
    bottom: 0;
}
/* width */
    .scroll-container::-webkit-scrollbar {
        width: 6px;
    }
  
  /* Track */
  .scroll-container::-webkit-scrollbar-track {
    background: var(--white); 
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
   
  /* Handle */
  .scroll-container::-webkit-scrollbar-thumb {
    background: var(--green); 
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green); 
  }

  /* Static Pages section */
  section.websites-section {
      margin: 1rem;
      margin-bottom: 5rem;
  }
  .website {
    width: 17rem;
    display: inline-table;
    padding: 0 2rem;
    height: 13rem;
    position: relative;
  }
  .logo {
      width: 11rem;
      height: 10rem;
      border-radius: 8px;
      margin-bottom: 0.7rem;
      object-fit: cover;
      filter: grayscale(0.3);
  }
  .logo-container {
      text-align: center;
  }
  .project-scroller .website + .website {
    border-left: 1px solid var(--green);
    }
  .websites-section h2, .userflows-section h2 {
    text-align: center;
    margin: 3rem 0 -3rem 0;
  }

  /* User flows section */
  .userflows-section{
    margin: 1rem;
    margin-bottom: 5rem;
  }
  .project h2 {
    text-align: left;
    margin: 0;
  }


  /* Project modals */
  .modal-header {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
  .modal-title {
    color: var(--dark-green) !important;
    font-family: 'Pecita';
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
    width: 100%;
  }
  .modal-dialog {
      max-width: 50rem !important;
      margin: 4rem auto !important;
  }
  .modal-content {
      padding: 1rem;
  }
  .modal-footer {
    justify-content: space-around !important;
    border-top: none !important;
  }
  .modal-body .scroll-container {
      width: auto;
  }
  img.screenshot {
    object-fit: cover;
    height: 14rem;
    width: 21rem;
  }
  iframe.project-video {
    max-height: 26rem;
    width: -webkit-fill-available;
  }

  .section-separator{
      width: 70%;
  }

/* Desktop styles only */
@media screen and (min-width: 1248px) {
    section.wrapper {
        max-width: 1248px;
        margin: 1rem auto 7rem;
    }
    .scroll-container {
        max-width: 1200px;
    }
}

/* phone and tablet styles only */
@media screen and (max-width: 1024px) {
    .content {
        max-width: 90%;
    }
    .left-line, .right-line, .left-triangle, .right-triangle {
        display: none;
    }
}